<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="./logs"/>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <!-- Appender para consola -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %highlight(%-5level) [%blue(%t),%X{traceId:-},%X{spanId:-}] %yellow(%C{1}): %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <!-- Loggers específicos para reducir ruido -->
    <logger name="org.jboss.logging" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.springframework" level="INFO"/>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
